  {{ partial "header.html" . }}
  {{ $baseurl := .Site.BaseURL }}

  <div class="container main-content">
  	
    <div class="row">
      <div>
        <div class="col-xs-12 col-sm-2 project-info">
        <ul class="info">
          <li>{{ .Title }}</li>
          <li>{{ .Params.client }}</li>
          <li>{{ .Params.customdate }}</li>
        </ul>         
        </div>
        <div class="gallery col-xs-12 col-sm-6 col-sm-push-1">
          <div id="owl-demo" class="owl-carousel owl-theme">
            {{ range.Params.slides }}
              <div class="item">
                <img src="{{ $baseurl }}/{{ . }}"></img>
              </div>
            {{ end }} 
            </div>
         </div>

      </div>
    </div>

    <div class="col-xs-12">
      {{ .Content }}
    </div>
 
   </div>

  {{ partial "footer.html" . }}
